---
name: Testing
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-setup:
    name: Test Setup
    runs-on: ubuntu-latest
    steps:
      - name: Configure Git
        shell: bash
        run: |
          git config --global user.name "Pusher Robot"
          git config --global user.email "126524721+pusher-robot@users.noreply.github.com"
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Checkout Testing Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: kustomize-everything/test-deploy
          path: test-deploy
          persist-credentials: true
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}

      - name: Update an image tag in a kustomization file
        working-directory: test-deploy
        run: |-
          git checkout -B pr-action-env-build-and-deploy-${{ github.event.number }}-${{ github.run_id }}-diff
          cd env/dev
          kustomize edit set image nginx=nginx:1.${{github.run_id}}.0
          git add kustomization.yaml
          git commit -m "Update image tag for diff test"

      - name: Action Test with Defaults (diff only)
        uses: ./
        with:
          dry-run: true
          environment: dev
          push-environment-regex: dev
          pr-environment-regex: false
          working-directory: test-deploy
          git-commit-user: Pusher Robot
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}

      - name: Checkout Testing Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: kustomize-everything/test-deploy
          path: test-deploy
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}

      - name: Update an image tag in a kustomization file
        working-directory: test-deploy
        run: |-
          git checkout -B pr-action-env-build-and-deploy-${{ github.event.number }}-${{ github.run_id }}-push
          cd env/dev
          kustomize edit set image nginx=nginx:1.${{github.run_id}}.1
          git add kustomization.yaml
          git commit -m "Update image tag for push test"

      - name: Action Test with dry-run false (pushes branch)
        uses: ./
        with:
          dry-run: "false"
          environment: dev
          push-environment-regex: dev
          pr-environment-regex: false
          working-directory: test-deploy
          git-commit-user: Pusher Robot
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}

      - name: Checkout Testing Repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          repository: kustomize-everything/test-deploy
          ref: ${{ steps.reset.output.branch }}
          path: test-deploy
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}

      - name: Update an image tag in a kustomization file
        working-directory: test-deploy
        run: |-
          git checkout -B pr-action-env-build-and-deploy-${{ github.event.number }}-${{ github.run_id }}-pr
          cd env/dev
          kustomize edit set image nginx=nginx:1.${{github.run_id}}.2
          git add kustomization.yaml
          git commit -m "Update image tag for PR test"

      - name: Action Test with dry-run false (opens PR)
        uses: ./
        with:
          dry-run: "false"
          environment: dev
          push-environment-regex: false
          pr-environment-regex: dev
          working-directory: test-deploy
          git-commit-user: Pusher Robot
          token: ${{ secrets.PUSHER_ROBOT_GITHUB_TOKEN }}
# The terrible secret of space.
